* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    overflow: auto; overflow-x:hidden;
    cursor: none;
}

/* 배경색: bg */
.bg01{
    background: linear-gradient(180deg, #011627 0%, #001CA6 10%, #B95393 30%, #FF9473 50%, #B95393 100%);
    width: 100vw;
    height: 5000px;
    position: relative;
}
.bg02{
    background: linear-gradient(180deg, #B95393 0%, #EF637A 20%, rgb(146, 188, 235) 80%);
    width: 100vw;
    height: 5000px;
    position: relative;
    overflow: hidden;
}
.bg03 {
    background: linear-gradient(180deg, rgb(218, 203, 223) 35%, rgb(146, 188, 235) 100%);
    width: 100vw;
    height: 5000px;
    position: relative;
    overflow: hidden;
}
.bg04 {
    background: linear-gradient(180deg, rgb(146, 188, 235) 0%, #DACBDF 100%);
    width: 100vw;
    height: 5000px;
    position: relative;
    overflow: hidden;
}
.bg05 {
    background: linear-gradient(180deg, rgba(178, 157, 197,0.5) 30%, rgb(239, 99, 122) 100%);
    width: 100vw;
    height: 5000px;
    position: relative;
    overflow: hidden;
}
.bg06 {
    background: linear-gradient(180deg, rgb(239, 99, 122) 0%, #031DA6 59.2%, #000000 100%);
    width: 100vw;
    height: 1000px;
    position: relative;
    overflow: hidden;
}

/* 셋팅: setting */
em {font-style: normal;}
.scroll {
    position: fixed; right: 10px; top: 10px;   
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 10000000;
}
.cursor {
    position: absolute;
    left: 0; top: 0;
    width: 20px; height: 20px;
    border-radius: 50%;
    z-index: 99999999;
    background: #fff;
    user-select: none;
    pointer-events: none;
    transition: width .5s ease, height .5s ease;
}
.cursor.active {
    position: absolute;
    width: 200px; height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    user-select: none;
    pointer-events: none;
    transition: width .5s ease, height .5s ease;

    background-image: url(../img/about01.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}


/* 공통: common */
.fixed {
    z-index: 1000;
    position: fixed; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
}
.sec4-3,
.sec4-4,
.sec4-5,
.sec5-3,
.sec5-4,
.sec5-5,
.sec5-6 {
    width: 100vw;
    transform-origin: center center;
    transition: all 0.5s ease;
}
.sec4-3 img,
.sec4-4 img,
.sec4-5 img,
.sec5-3 img,
.sec5-4 img,
.sec5-5 img,
.sec5-6 img {width: 100%;}

.sec4-3 a:hover img {opacity: 0.4; transition: all 0.5s ease;}
.sec4-4 a:hover img {opacity: 0.4; transition: all 0.5s ease;}
.sec4-5 a:hover img {opacity: 0.4; transition: all 0.5s ease;}
.sec5-3 a:hover img {opacity: 0.4; transition: all 0.5s ease;}
.sec5-4 a:hover img {opacity: 0.4; transition: all 0.5s ease;}
.sec5-5 a:hover img {opacity: 0.4; transition: all 0.5s ease;}
.sec5-6 a:hover img {opacity: 0.4; transition: all 0.5s ease;}

/* 네비게이션: nav */
#nav {
    z-index: 10000;
    position: fixed;
    left: 0; top: 0;
    width: 10%;
    height: 100%;
    color: #fff;
}
.logo {
    margin: 20px;
    font-family: 'Purple Purse', cursive;
    font-size: 1vw;
    white-space: nowrap;
}
.nav {
    font-family: 'Roboto', sans-serif;
    position: fixed;
    left: 3%;
    top: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 100%;
    font-size: 1vw;
    text-align: center;
}
.nav a {
    padding-right: 2%;
}

/* section1 */
#section1 {
    width: 100vw;
    height: 100vh;
}
.sec1-1 {
    font-family: 'Saol Display Regular';
    font-size: 12vw;
    color: #fff;
    letter-spacing: 0.03em;
    white-space: nowrap;
    font-weight: normal;
    transition: all 0.3s;
}
.sec1-2 {
    width: 35%;
    position: absolute;
    right: 0%;
    transition: all 0.3s;
}

/* section2 */
#section2 {
    width: 100vw;
    height: 100vh;
}
.sec2-1 {
    font-family: 'Chosunilbo_myungjo';
    line-height: 144.5%;
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 2.5vw;
    transition: all 0.3s;
}
.sec2-2 {
    font-size: 2.8vw;
    font-weight: normal;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.cover {
    width: 200%;
    border: solid 0.4vw #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 30% 80% 300% 50%;
    transition: all 0.3s;
}
.sec2-3 {
    font-weight: normal;
    font-size: 3vw;
    transition: all 0.3s;
}
.sec2-4 {
    font-size: 2vw;
    transform: rotate(90deg);
    position: absolute;
    right: 11%;
    top: 54%;
    transition: all 0.3s;
}
.sec2-5 {
    font-size: 2vw;
    position: absolute;
    left: 61%;
    top: 37%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transition: all 0.3s;
}
.sec2-5::after {
    content: '';
    width: 7%;
    height: 317%;
    position: absolute;
    left: 45%;
    top: 114%;
    background: #fff;
    transition: all 0.3s;
}

/* 어바웃: section3 */
#section3 {
    width: 100vw;
    height: 1000vh;
}
.sec3-2 {
    font-family: 'Blacksword';
    color: #fff;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: normal; 
    transition: all 0.3s;
}
.sec3-2::before {
    content: '[';
    color: #fff;
    font-size: 12vw;
    position: absolute;
    left: 50%; top: 58%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.sec3-3 {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}
.imgWrap01 {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw; height: 50vh;
    z-index: 100;
    transition: all 0.3s;
}
.imgWrap01 .sec3-4 {
    position: absolute;
    left: 100%;
    width: 60vw;
    transition: all 0.3s;
}
.imgWrap01 .sec3-5 {
    position: absolute;
    left: 100%;
    width: 80vw;
    transition: all 0.3s;
}

/* 코딩 사이트: section4 */
#section4 {}
.sec4-2 {
    font-family: 'Blacksword';
    color: #fff;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: normal; 
    transition: all 0.3s;
}
.sec4-2::before {
    content: '[';
    color: #fff;
    font-size: 12vw;
    position: absolute;
    left: 50%; top: 67%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.sec4-3 {
    left: 100%;
    top: 100%;
    transition: all 0.3s;
}
.sec4-4 {
    left: 100%;
    top: 100%;
    transition: all 0.3s;
}
.sec4-5 {
    left: 100%;
    top: 100%;
    transition: all 0.3s;
}


/* 스크립트: section5 */
#section5 {}
.sec5-2 {
    font-family: 'Blacksword';
    color: #fff;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: normal; 
    z-index: 2000;
    transition: all 0.3s;
}
.sec5-2::before {
    content: '[';
    color: #fff;
    font-size: 12vw;
    position: absolute;
    left: 50%; top: 67%;
    transform: translate(-50%, -50%);
}

/* 애니메이션: section6 */
#section6 {}
.sec6-2 {
    font-family: 'Blacksword';
    color: #fff;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: normal; 
    z-index: 40000;
    transition: all 0.3s;
}
.sec6-2::before {
    content: '[';
    color: #fff;
    font-size: 12vw;
    position: absolute;
    left: 46%;
    top: 61%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.ani01,
.ani02,
.ani03,
.ani04,
.ani05,
.ani06 {
    width: 100vw;
    height: 100vh;
    transform-origin: center center;
    transition: all 0.3s;
}

.ani01 a iframe,
.ani02 a iframe,
.ani03 a iframe,
.ani04 a iframe,
.ani05 a iframe,
.ani06 a iframe {transition: all 0.5s ease;}

.ani01 a:hover iframe,
.ani02 a:hover iframe,
.ani03 a:hover iframe,
.ani04 a:hover iframe,
.ani05 a:hover iframe,
.ani06 a:hover iframe {opacity: 0.4; transition: all 0.5s ease;}

/* 리액트: section7 */
#section7 {}
.sec7-2 {
    font-family: 'Blacksword';
    color: #fff;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: normal; 
    z-index: 40000;
    transition: all 0.3s;
}
.sec7-2::before {
    content: '[';
    color: #fff;
    font-size: 9vw;
    position: absolute;
    left: 46%;
    top: 70%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.sec7-3 {width: 70%; transition: all 0.3s;}
.sec7-4 {width: 40%; transition: all 0.3s;}
.sec7-5 {width: 15%; transition: all 0.3s;}
.sec7-6 {width: 30%; transition: all 0.3s;}
.sec7-7 {width: 80%; transition: all 0.3s;}
.sec7-9 img {width: 100%; display: block; transition: all 0.3s;}
.react {width: 50%; transition: all 0.3s;}
.img-bg {
    background: linear-gradient(270deg, rgba(133, 0, 22, 0.355) 0%, rgba(255, 255, 255, 0) 98.92%);
    width: 100%;
    height: 100%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out;
}
.sec7-10 {
    writing-mode: vertical-rl;
    color: #fff;
    font-family: 'Chosunilbo_myungjo';
    font-style: normal;
    font-weight: normal;
    font-size: 2.5vw;
    line-height: 2;
}
.sec7-10 span {left: -5%;}
.box {
    color: #fff;
    font-family: 'Chosunilbo_myungjo';
    text-align: right;
    width: 38%;
    transition: all 0.3s ease-in-out;
    left: 77%; top: 15%;
}
.box .btn1 {
    display: inline-block;
    border: 1.4px solid #FFFFFF;
    box-sizing: border-box;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding: 1.5% 6%;
    font-size: 1.3vw;
}
.box .btn2 {
    display: inline-block;
    background: rgba(239, 99, 122, 0.71);
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-bottom-right-radius:10px;
    border-bottom-left-radius:10px;
    padding: 2% 4%;
    font-size: 1.3vw;
    margin-left: 1%;
}
.box .text {
    margin-top: 2%;
    line-height: 1.5;
    font-size: 0.9vw;
    position: relative;
}
.box .text::after {
    content: '';
    width: 0.2vw;
    height: 93%;
    background: #fff;
    position: absolute;
    left: 102%;
    top: 4%;
}

/* react figma */
.react_figma {
    opacity: 0;
    width: 50%;
    height: 70%;
    z-index: -1000;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.9);
    padding: 1%;
    transition: all 1s ease;
}
.react_figma.on {
    opacity: 1;
    z-index: 1000;
    transition: all 1s ease;
}
/* react_btn */
.react_figma .react_btn {
    position: absolute;
    top: 3%;
    left: 104%;
    width: 32px;
    height: 32px;
    margin: -16px 0 0 -16px;
    display: inline-block;
    cursor: none;
    border: 3px solid #fff;
    border-radius: 50%;
    transition: all 0.2s 0.15s ease;
    overflow: hidden;
}
.react_figma .react_btn::before {
	content: '';
	width: 20px; height: 2px;
	background: #fff;
	position: absolute; left: 50%;; top: 50%;
	transform: translate(-50%, -50%) rotate(45deg);
    transition: all .33s ease-in-out;
	z-index: 10;
}
.react_figma .react_btn::after {
	content: '';
	width: 2px; height: 20px;
	background: #fff;
	position: absolute; left: 50%; top: 50%;;
	transform: translate(-50%, -50%) rotate(225deg);
    transition: all .33s ease-in-out;
}
.cursor.on {opacity: 0.5;}

/* 컨택트: section8 */
#section8 {}
.sec8-2 {
    font-family: 'Blacksword';
    color: #fff;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: normal; 
    z-index: 40000;
    transition: all 0.3s;
}
.sec8-2::before {
    content: '[';
    color: #fff;
    font-size: 11vw;
    position: absolute;
    left: 50%;
    top: 64%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
}
.sec8-3 {width: 40vw; transition: all 0.3s;}
.sec8-5 {width: 70vw; transition: all 0.3s;}
.sec8-3 img {width: 100%; transition: all 0.3s;}
.sec8-5 img {width: 100%; transition: all 0.3s;}
.desc {
    line-height: 1.5;
    color: rgba(255, 255, 255, 0.9);
    font-family: 'Chosunilbo_myungjo';
    left: 27%;
    transition: all 0.3s;
}
.sec8-4 {font-size: 2vw; transition: all 0.3s;}
em {
    font-size: 1.2vw;
    padding-left: 65%;
    white-space: nowrap;
    transition: all 0.3s;
}
.sec8-6 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.5vw;
    padding-top: 10%;
    transition: all 0.3s;
}

/* 팝업: popup */
.wText01,
.wText02,
.wText03 {
    opacity: 0;
    font-family: 'Chosunilbo_myungjo';
    font-weight: normal;
    position: fixed;
    color: #fff;
}

.popup img {
    width: 4000px;
    position: fixed;
    left: 50%; top: 50%; 
    transform: translate(-50%, -50%);
    border: 10px solid #fff;
}
.popup a:hover img {opacity: 1;}
.popup .wText01 {
    font-size: 8vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    transition: all 0.3s;
}
.popup .wText02 {
    font-size: 6vw;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    opacity: 1;
    transition: all 0.3s;
}
.popup .wText03 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 9vw;
    opacity: 1;
    writing-mode: vertical-lr;
    transition: all 0.3s;
}
.popup .wText03 span:nth-child(1) {
    display: block;
    height: 100vh;

}
.popup .wText03 span:nth-child(2) {
    display: block;
    padding-left: 50px;
    height: 100vh;
}