body {
    background: linear-gradient(to bottom, #FF9473 0%, rgba(239, 99, 122, 0.71) 100%);
    overflow:hidden;
    width: 100vw;
    height: 100vh;
    cursor: none;
    position: relative;
}
.cursor {
    position: absolute;
    left: 0; top: 0;
    width: 20px; height: 20px;
    border-radius: 50%;
    z-index: 1000;
    background: #fff;
    user-select: none;
    pointer-events: none;
}
#about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 6px solid #fff;
    padding: 4.5%;
    margin: 2%;
}

.mLeft {
    flex: 1 1 50%;
}
.me01 {
    width: 40vw;
    position: relative;
}
.me02 {
    width: 70vw;
    position: absolute;
    right: 52%;
    top: 12%;
}
.mRight {
    flex: 1 1 50%;
    margin-left: 1.5%;    
}
.me03 {
    width: 45vw;
    padding-bottom: 3%;
    opacity: 90%;
}
.me04 {
    font-family: 'Chosunilbo_myungjo';
    line-height: 144.5%;
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
    font-size: 2.2vw;
    text-align: right;
    width: 50vw;
    margin-left: -10%;
}
