/* 여백 초기화 */
* {margin: 0; padding: 0;}

/* 링크 초기화 */
a {color: #fff; text-decoration:none}
a:hover {color: #fff;}

/* 블릿 기호 초기화 */
ul,ol,dl,menu {list-style: none;}

/* 폰트 스타일 초기화 */
em {font-style: normal;} /* 이텔릭체 초기화 */

