/* common */
.fixed {
    position: fixed; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
    
/* cursor */
/* .cursor {
    position: absolute;
    left: 0; top: 0;
    width: 20px; height: 20px;
    border-radius: 50%;
    z-index: 10000;
    background: #fff;
    user-select: none;
    pointer-events: none;
    transition: transform .3s ease-in-out;
} */
/* .cursor.active {
    transform: scale(10);
} */

/* star */
.stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    z-index: 500;
}
.stars {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat 50% 50%;
    background-size: cover;
    animation: star 6s infinite cubic-bezier(1,-0.01, 1, 0.31);
    
}
@keyframes star {
    from {
      background-size: 10%;
      opacity: 0;
    }
    
    30% {
      opacity: 1;
    }
    
    to {
      background-size: 100%;
    }
}

/* layout */
body {
    /* cursor: none; */
    overflow: auto; overflow-x:hidden;
    width: 100vw;
    height: 100vh;
}
.scroll {
    position: fixed; left: 10px; bottom: 10px;   
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(0,0,0,0.3);
    z-index: 10000000;
}
#wrap {}
#main {
    position: relative;
}

/* nav */
#nav {
    position: fixed;
    left: 0;
    top: 0;
    justify-content: left;
    align-items: left;
    height: 1001px;
    width: 196px;
    z-index: 9999999;
    color: #fff;
}
.logo {
    width: 165px;
    height: 31px;
    font-family: 'Purple Purse';
    font-size: 25px;
    line-height: 31px;
    color: rgba(255, 255, 255, 0.8);
    margin: 24px 5px 0 21px;
}
.nav {
    position: absolute;
    right: -20px;
    top: 300px;
    transform: rotate(-90deg);
    display: flex;
}
.nav a span{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding-left: 31px;
    margin-top: 150px;
}
/* header */
.header {
    height: 100vh;
    background: linear-gradient(to bottom, #16224C 0%, #031DA6 100%);
}
.header h1 {
    font-family: 'Saol Display Regular'; 
    font-size: 12vw;
    color: #fff;
    letter-spacing: 0.03em;
    font-weight: 100;
    white-space: nowrap;
    opacity: 85%;
    line-height: 3.5;
}
.header img {
    position: absolute;
    right: 0;
    top: 0;
    width: 40vw;
    height: 74vh;
}

/* cover */
.cover {
    background: linear-gradient(to bottom, #001CA6 0%, #B95393 60%, #FF9473 100%);
    font-family: 'Chosunilbo_myungjo';
    color: #fff;
    position: relative;
    z-index: 10;
    padding-bottom: 300px;
    
}
.cover .date {
    font-size: 3vw;
    font-weight: 100;
    line-height: 50px;
    padding-bottom: 10px;
}
.covers {
    width: 20vw;
    height: 72vh;
    margin: 29px 0 0;
    padding: 97px 63px 63px 72px;
    border: solid 10px #fff;
    margin: 0 auto;
    position: relative;
}
.covers .covers-title {
    font-weight: normal;
    font-size: 4vw;
}
.covers .text {
    font-size: 2vw;
    letter-spacing: 0.03em;
    transform: rotate(90deg);
    text-transform: uppercase;
    width: 469px;
    height: 38px;
    position: absolute;
    right: 50px;
    top: 485px;
}
.covers .name {
    font-size: 2vw;
    text-transform: uppercase;
    width: 33px;
    height: 108px;
    position: absolute;
    left: 290px;
    top: 270px;
    line-height: 1.2;
}
.covers .name::after {
    content: '';
    background: #fff;
    width: 5px;
    height: 331px;
    position: absolute;
    left: 14px;
    top: 135px;
}

/* about */
#about {
    width: 100vw;
    height: 100vh;
    font-family: 'Blacksword';
    font-size: 250px;
    overflow: hidden;
    
    background: linear-gradient(to bottom, #FF9473 50%, rgba(239, 99, 122, 0.71) 100%);
}
.about {position: relative;}
.about .about-title {
    position: relative;
    color: #fff;
    opacity: 70%;
    font-size: 15vw;
    line-height: 3;
}
.about .about-title::after {
    content: '[';
    position: absolute;
    left: 585px; top: 65px;
}

.about .imgWrap {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw; height: 50vh;
    z-index: 100;
}
.about .imgWrap .cloud-color1 {
    position: absolute;
    right: 700px;
    top: 340px;
}
.about .imgWrap .cloud-color2 {
    position: absolute;
    left: 907px;
    bottom: 60px;
    z-index: 1000;
}
/* button */
.about .button {
    position: absolute;
    left: 48%;
    bottom: 0%;
    cursor: none;
}
.about .button span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    opacity: 70%;
    border-radius: 100%;
    box-sizing: border-box;
}
.about .button span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -9px 0 0 -11px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-style: 1px;
    transform: rotate(-135deg);
    box-sizing: border-box;
}
.about .button span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    animation: effect 3s infinite;
    box-sizing: border-box;
}
@keyframes effect {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#section2.on {
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}


/* site */
#site {
    background: linear-gradient(180deg, rgba(239, 99, 122, 0.71) 0%, rgba(174, 161, 202, 0.883607) 100%, rgba(174, 161, 202, 0.883607) 100%);
    position: fixed;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}