* {margin: 0; padding: 0; box-sizing: border-box;}
body {
    height: 100%;
    overflow: auto; overflow-x:hidden;
    cursor: none;
}
.bg01{
    background: linear-gradient(to bottom, #011627 0%, #001CA6 10%, #B95393 30%, #FF9473 50%, #B95393 100%);
    width: 100vw;
    height: 5000px;
    position: relative;
    z-index: -50000;
}

/* 

rgb(146, 188, 235) 70%,
rgb(218, 203, 223) 75%,
rgb(239, 99, 122) 80%,
rgb(3, 30, 166) 90%, */

em {font-style: normal;}
.scroll {
    position: fixed; right: 10px; top: 10px;   
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 10000000;
}
.cursor {
    position: absolute;
    left: 0; top: 0;
    width: 20px; height: 20px;
    border-radius: 50%;
    z-index: 1000;
    background: #fff;
    user-select: none;
    pointer-events: none;
    transition: active .4s ease-in-out;
}
.cursor.active {
    position: absolute;
    width: 200px; height: 200px;
    border-radius: 50%;
    border: 5px solid #fff;
    user-select: none;
    pointer-events: none;

    background-image: url(../img/about01.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
}
/* common */
.fixed {
    position: fixed; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
}
img {
    width: 100%; vertical-align: top;
    object-fit: cover;
}


/* nav */
#nav {
    z-index: 10000;
    position: fixed;
    left: 0; top: 0;
    width: 9vw;
    height: 100vh;
    color: #fff;
}
.logo {
    margin: 20px;
    font-family: 'Purple Purse', cursive;
    font-size: 1vw;
}
.nav {
    font-family: 'Roboto', sans-serif;
    position: absolute;
    left: 23%;
    top: 30%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 50vw;
    font-size: 1vw;
}
.nav a {
    padding-right: 3%;
}

/* section1 */
#section1 {
    width: 100vw;
    height: 100vh;
    z-index: -5000;
}
.sec1-1 {
    font-family: 'Saol Display Regular';
    font-size: 12vw;
    color: #fff;
    letter-spacing: 0.03em;
    white-space : nowrap;
}
.sec1-2 {
    width: 30%;
    position: absolute;
    right: 0;
}
/* section2 */
#section2 {
    width: 100vw;
    height: 100vh;
}
.sec2-1 {
    font-family: 'Chosunilbo_myungjo';
    line-height: 144.5%;
    letter-spacing: 0.03em;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 2.5vw;
}

.sec2-2 {
    font-size: 2.8vw;
    font-weight: normal;
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
}


.cover {
    width: 200%;
    border: solid 0.4vw #fff;
    margin: 0 auto;
    text-align: center;
    position: relative;
    padding: 30% 80% 300% 50%;
}
.sec2-3 {
    font-weight: normal;
    font-size: 3vw;
}
.sec2-4 {
    font-size: 2vw;
    transform: rotate(90deg);
    position: absolute;
    right: 11%;
    top: 54%;
}
.sec2-5 {
    font-size: 2vw;
    position: absolute;
    left: 61%;
    top: 37%;
    transform: translate(-50%, -50%);
    writing-mode: vertical-rl;
    text-orientation: mixed;
}
.sec2-5::after {
    content: '';
    width: 7%;
    height: 317%;
    position: absolute;
    left: 45%;
    top: 114%;
    background: #fff;
}
/* section3 */
#section3 {
    width: 100vw;
    height: 1000vh;
}
.sec3-2 {
    font-family: 'Blacksword';
    color: #fff;
    white-space: nowrap;
    font-size: 12vw;
    font-weight: normal; 
    
}
.sec3-2 > div {
    opacity: 70%;
}
.sec3-2::before {
    content: '[';
    color: #fff;
    font-size: 12vw;
    position: absolute;
    left: 50%; top: 58%;
    transform: translate(-50%, -50%);
    opacity: 70%;
}
.sec3-3 {
    z-index: 1000000;
}
.imgWrap {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw; height: 50vh;
    z-index: 100;
}
.imgWrap .sec3-4 {
    position: absolute;
    left: 100%;
    width: 60vw;
}
.imgWrap .sec3-5 {
    position: absolute;
    left: 100%;
    width: 80vw;
}
/* button */
.button {
    width: 100vw;
    height: 100vh;
    top: 0%;
}
.button span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    opacity: 70%;
    border-radius: 100%;
    box-sizing: border-box;
}
.button span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -9px 0 0 -11px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-style: 1px;
    transform: rotate(-135deg);
    box-sizing: border-box;
}
.button span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    animation: effect 3s infinite;
    box-sizing: border-box;
}
@keyframes effect {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
#section4 {}
#section5 {}
#section6 {}
#section7 {}
#section8 {}





