/* reset */
*{margin: 0; padding: 0; }
ul, li {list-style: none;}

/* layout */
body {
    cursor: none;
}
.scroll {
    position: fixed; right: 10px; top: 10px;   
    width: 50px; height: 50px; line-height: 50px;
    text-align: center; color: #fff;
    background: rgba(0,0,0,0.5);
    z-index: 10000000;
}
#wrap {position: relative;}
#header {
    width: 100%;
}
#nav {
    position: fixed;
    left: 0;
    top: 0;
    justify-content: left;
    align-items: left;
    height: 1001px;
    width: 196px;
    z-index: 1000;
    color: #fff;
}
#about {
    width: 100%;
    height: 1110px;
    background: linear-gradient(180deg, #FF9473 0%, rgba(239, 99, 122, 0.71) 100%);
    font-family: 'Blacksword';
    font-size: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.logo {
    width: 165px;
    height: 31px;
    font-family: 'Purple Purse';
    font-size: 25px;
    line-height: 31px;
    color: rgba(255, 255, 255, 0.8);
    margin: 24px 5px 0 21px;
}
.nav {
    position: absolute;
    right: 0;
    top: 300px;
    transform: rotate(-90deg);
    display: flex;
    
}
.nav span{
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    padding-left: 31px;
    margin-top: 150px;
}
/* star */
.stars {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: block;
}
.stars {
    background: transparent url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat 50% 50%;
    z-index: 0;
    animation: star 6s infinite cubic-bezier(1,-0.01, 1, 0.31);
    background-size: 100%;
}
@keyframes star {
    from {
      background-size: 10%;
      opacity: 0;
    }
    
    30% {
      opacity: 1;
    }
    
    to {
      background-size: 100%;
    }
}
  
._1 {background-position: 50% 50%; transform: rotate(0deg);   z-index: 10; animation-delay: -6s;}
._2 {background-position: 50% 50%; transform: rotate(60deg);  z-index: 20; animation-delay: -5s;}
._3 {background-position: 50% 50%; transform: rotate(120deg); z-index: 30; animation-delay: -4s;}
._4 {background-position: 50% 50%; transform: rotate(180deg); z-index: 40; animation-delay: -3s;}
._5 {background-position: 50% 50%; transform: rotate(240deg); z-index: 50; animation-delay: -2s;}
._6 {background-position: 50% 50%; transform: rotate(300deg); z-index: 60; animation-delay: -1s;}

/* header */
.header {
    position: relative;
    background: linear-gradient(to bottom, #16224C 0%, #031DA6 100%);
    height: 1010px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    z-index: -100;
}
.header h1 {
    font-family: 'Saol Display Regular';  
    font-size: 200px;
    color: #fff;
    line-height: 262px;
    letter-spacing: 0.03em;
    font-weight: 100;
}
.header img {
    position: absolute;
    right: 0;
    top: 0;
    width: 774px;
    height: 774px;
    z-index: 1000;
}
/* cover */
.cover {
    height: 100%;
    background: linear-gradient(to bottom, #001CA6 0%, #B95393 60%, #FF9473 100%);
    font-family: 'Chosunilbo_myungjo';
    color: #fff;
    padding-bottom: 243px;
}
.cover .date {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 100;
    line-height: 50px;
    padding: 245px 0 27px 0;
}
.covers {
    width: 611px;
    height: 1249px;
    margin: 29px 0 0;
    padding: 97px 63px 63px 72px;
    border: solid 10px #fff;
    margin: 0 auto;
    position: relative;
}
.covers .covers-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-size: 100px;
    line-height: 144.5%;
}
.covers .text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: 72px;
    letter-spacing: 0.03em;
    color: #fff;
    transform: rotate(90deg);
    text-transform: uppercase;
    width: 691px;
    height: 78px;
    position: absolute;
    left: -30px;
    top: 750px;
}
.covers .name {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    line-height: 72px;
    color: #fff;
    text-transform: uppercase;
    width: 47px;
    height: 216px;
    position: absolute;
    left: 410px;
    top: 440px;
    
}
.covers .name::after {
    content: '';
    background: #fff;
    width: 5px;
    height: 455px;
    position: absolute;
    left: 20px; top: 225px;
}
/* about */
.about {
    
}
.about .about-title {
    position: relative; 
    color: #fff;
    opacity: 70%;
}
.about .about-title::after {
    content: '[';
    position: absolute;
    left: 585px; top: 65px;
}

.about .imgWrap {
    position: absolute; left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 50vw; height: 50vh;
    z-index: 100;
}
.about .imgWrap .cloud-color1 {
    position: absolute;
    right: 700px;
    top: 340px;
}
.about .imgWrap .cloud-color2 {
    position: absolute;
    left: 907px;
    bottom: 117px;
    z-index: -10;
}
.about .me {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background-attachment: fixed;
    opacity: 0;
}
/* button */
.about a {
    padding-top: 60px;
    position: relative;
    right: 43%;
    top: 40%;
}
.about a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50px;
    height: 50px;
    border: 3px solid #fff;
    opacity: 70%;
    border-radius: 100%;
    box-sizing: border-box;
}
.about a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -9px 0 0 -11px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    border-style: 1px;
    transform: rotate(-135deg);
    box-sizing: border-box;
}
.about a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 44px;
    height: 44px;
    box-shadow: 0 0 0 0 rgba(255,255,255,.1);
    border-radius: 100%;
    opacity: 0;
    animation: effect 3s infinite;
    box-sizing: border-box;
}
@keyframes effect {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    60% {
        box-shadow: 0 0 0 60px rgba(255,255,255,.1);
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.cursor {
    position: absolute;
    left: 0; top: 0;
    width: 20px; height: 20px;
    border-radius: 50%;
    z-index: 1000;
    background: #fff;
    user-select: none;
    pointer-events: none;
    transition: transform .3s ease-in-out;
}
.cursor.active {
    transform: scale(10);
    background-image: url(../img/about01@2.jpg);
    background-size: cover;
    
}