<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {margin: 0; padding: 0;}
        #wrap {}
        #header {height: 85px; background: #000;}
        #banner {height: 670px; background: #222;}
        #contents {height: 3000px; background: #444;}
        #footer {height: 132px; background: #666;}

        .container {width: 1140px; height: inherit; margin: 0 auto; background: rgba(255,255,255,0.3);}
    </style>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="container"></div>
        </header>
        <nav id="banner">
            <div class="container"></div>
        </nav>
        <section id="contents"></section>
        <footer id="footer">
            <div class="container"></div>
        </footer>
    </div>
</body>
</html>